body{
  background: linear-gradient(to right, #757F9A , #D7DDE8 );
}
#task{
  margin-left: 30%;
  margin-top: 150px;
  
}
#input{
  height: 30px;
  width: 60%;
  margin-bottom: 30px;
  border-radius: 10px;
}
#addtask{
  height: 30px;
  border-radius: 5px;
  background-color: #9a8478;
  color: whitesmoke;
}

.list{
  margin-bottom: 5px;
  color: #D7DDE8;
  font-size: 25px;
}
.complete{
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 5px;
  background-color: hwb(111 14% 0%) ;
  border-radius: 5px;
}
.edit{
  margin: 5px;
  border-radius: 5px;
}
.del{
  background-color: #f55019;
  border-radius: 5px;
}

#todolist{
  list-style-type: none;
}